.dropdown {
	position: relative;
}

.dropdown__options {
	@include transition-mix($duration: .1s);
	@include position-absolute($top: 0, $left: 100%);

	padding: 20px;

	transform: translateX(15px);

	background-color: $light;
	opacity: 0;

	z-index: 10;
	visibility: hidden;

	&.js-visible {
		opacity: 1;
		visibility: visible;
	}
}

.dropdown__options-list {
	padding: 0;
	margin: 0;

	list-style-type: none;
}

.dropdown__option {
	display: inline-flex;
	align-items: center;

	cursor: pointer;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	& > *:first-child {
		margin-right: 8px;
	}
}
