//variables
$icon--xs: 20px;
$icon--sm: 35px;
$icon--md: 65px;
$icon--lg: 95px;

.icon {

	svg {
		width: 100%;
		height: 100%;
		vertical-align: top;

		fill: currentColor;
	}
}

//icon sizes
.icon--xs {
	width: $icon--xs;
	height: $icon--xs;
}

.icon--sm {
	width: $icon--sm;
	height: $icon--sm;
}

.icon--md {
	width: $icon--md;
	height: $icon--md;
}

.icon--lg {
	width: $icon--lg;
	height: $icon--lg;
}
