.modal,
.modal-backdrop {
	@include position-absolute($top: 50%, $left: 50%);

	width: 80%;
	height: auto;

	transform: translate(-50%, - 50%);
}

.modal {
	display: block;
	visibility: hidden;
	overflow: visible;

	&.show {
		visibility: visible;

		.modal-dialog {
			@include transition-mix($delay: .2s);

			transform: translateY(0);

			opacity: 1;
			visibility: visible;
		}
	}
}

.modal-dialog {
	@include transition-mix($delay: 0s);

	transform: translateY(-100px);

	opacity: 0;
	visibility: hidden;
}

.modal-backdrop {
	width: 100%;
	height: 100%;
}

.modal-dialog-centered {

	&:before {
		display: none !important;
	}
}


