html(lang="en")
    include includes/setup/head

    body
        //APP BODY
        .app

            //APP FRAME
            .app__frame

                //HEADER
                header.header

                    //navigation part
                    include includes/blocks/nav

        script(src="scripts/scripts.min.js")
