html(lang="en")
    include includes/setup/head

    body.app
        .app__frame.pb-3

            //HEADER
            header.header

                include includes/blocks/nav

            .main-container.container.mt-3

                //ADD TASKS BTN
                .row
                    .col
                        include includes/blocks/add-task

                //CONTENT PANELS

                //TASKS PANEL
                .row.tasks-panel.panel
                    .col
                        include includes/blocks/tasks-panel

            //MODALS
            include includes/modals/add-task-modal
            include includes/modals/del-task-modal
            include includes/modals/edit-task-modal


        script(src="scripts/scripts.min.js")
