html(lang="en")
    include includes/setup/head

    body.app
        .app__frame.pb-3

            //HEADER
            header.header

                include includes/blocks/nav

            .main-container.mt-3

                //TASKS PANEL
                .tasks-panel.panel.container

                    //toolbar part
                    .row.mb-3
                        .col
                            include includes/blocks/toolbar
                    //content part
                    .row
                        .col
                            include includes/blocks/tasks-panel

            //MODALS
            include includes/modals/add-task-modal
            include includes/modals/del-task-modal
            include includes/modals/edit-task-modal


        script(src="scripts/scripts.min.js")
