html(lang="en")
    include includes/setup/head

    body
        //APP BODY
        .app

            //APP FRAME
            .app__frame

                //HEADER
                header.header

                    //navigation part
                    include includes/blocks/nav

                .container.main-container

                    //CONTENT PANELS

                    //TASKS PANEL
                    .row.tasks-panel.panel
                        .col
                            include includes/blocks/tasks-panel


        script(src="scripts/scripts.min.js")
