html(lang="en")
    include includes/setup/head

    body
        //APP BODY
        .app

            //APP FRAME
            .app__frame

                //HEADER
                header.header

                    //navigation part
                    include includes/blocks/nav

                .container.main-container.mt-3

                    // ADD TASKS BTN
                    .row
                        .col
                            .add-task.d-flex.justify-content-end.mb-3
                                button.btn.btn--iconed.btn-primary(type="button")
                                    span.material-icons add

                    //CONTENT PANELS

                    //TASKS PANEL
                    .row.tasks-panel.panel
                        .col
                            include includes/blocks/tasks-panel


        script(src="scripts/scripts.min.js")
