html(lang="en")
    include includes/setup/head

    body.app

        //HEADER
        header.header

            include includes/blocks/nav

        .container.main-container.mt-3

            //ADD TASKS BTN
            .row
                .col
                    include includes/blocks/add-task

            //CONTENT PANELS

            //TASKS PANEL
            .row.tasks-panel.panel
                .col
                    include includes/blocks/tasks-panel

        //MODALS
        include includes/modals/add-task-modal


        script(src="scripts/scripts.min.js")
