.add-new-task.modal.fade#new-task-modal(tabindex="-1" role="dialog" aria-labelledby="new-task-title" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
        .modal-content

            // modal title
            .modal-header
                h5.modal-title#new-task-title Add New Task
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;

            // modal body
            .modal-body
                form.add-new-task__form
                    .form-group
                        input.add-new-task__title.form-control(type="text" placeholder="New Task" aria-label="New Task")

            //modal footer
            .modal-footer.d-flex.justify-content-between
                button.btn.btn-danger(type="button" data-dismiss="modal") Close
                button.add-new-task__btn.btn.btn-success(type="button" data-dismiss="modal") Save


