//- filter block part (here user can pick if checked tasks are hidden or not)
.filter-block

    //filter button
    button.filter-btn.btn.btn--iconed.btn-outline-primary(type="button")
            span.material-icons filter_alt
