//- navigation block
nav.nav.bg-primary
    .container.d-flex.justify-content-center.align-items-center

        //logo block
        .logo.nav__logo
            .icon.logo__icon
                svg
                    use(xlink:href="./assets/sprites/sprites-colored/svg/sprite.symbol.svg#logo")
            .logo__text
                p Taskify

        //search block
        form
            .form-group
                label.sr-only(for="search") Search
                .input-group
                    .input-group-prepend
                        .input-group-text
                            span.material-icons search
                    input#search.form-control(type="search" placeholder="Search")
