//- navigation block
nav.nav.bg-primary.py-2
    .container.d-flex.align-items-center.justify-content-between

        //logo block
        .logo.logo--light.nav__logo.mr-3
            .icon.icon--sm.logo__icon
                svg
                    use(xlink:href="./assets/sprites/sprites-colored/svg/sprite.symbol.svg#logo")
            .logo__text
                span Taskify

        //search block
        form.search
            .form-group.mb-0
                label.sr-only(for="search") Search
                .input-group
                    input#search.search__input.form-control(type="search" placeholder="Search")
                    .input-group-append
                        button.search__btn.btn.btn--iconed.bg-light(type="button")
                            span.material-icons search

