//- filter block part (here user can pick if checked tasks are hidden or not)
//- data-to-filter - receives an id of filtered elements' parent elem
//- data-filter-criteria is connected with data-attr on a filtered elem with a filter value
.tasks-filter.filter.dropdown(data-toggled="false" data-to-filter="#tasks-list" data-filter-criteria="is-complete")

    //filter button
    button.dropdown__btn.filter__btn.btn.btn--iconed.btn-outline-primary(type="button")
            span.material-icons filter_alt

    //filter block
    .dropdown__options.filter__options.shadow
        form.dropdown__options-form.filter__options-form
            ul.dropdown__options-list.filter__options-list
                li.dropdown__option.filter__option
                    input.filter__option-input#show-all(type="radio" name="to-show-tasks" value="all")
                    label.filter__option-label(for="show-all") Show all
                li.dropdown__option.filter__option
                    input.filter__option-input#show-only-completed(type="radio" name="to-show-tasks" value="complete")
                    label.filter__option-label(for="show-only-completed") Show only complete
                li.dropdown__option.filter__option
                    input.filter__option-input#show-only-incompleted(type="radio" name="to-show-tasks" value="incomplete" checked)
                    label.filter__option-label(for="show-only-incompleted") Show only incomplete
