//single task
template#task
    .task.card
        .card-body.d-flex.py-2

            //task checklist
            form.task__form.mr-3
                .task__form-block.form-check
                    input.task__checkbox(type="checkbox")

            //task title
            .task__title
                p 
