//single task
template#task
    .task.card(data-complete-state="incomplete")
        .card-body.d-flex.align-items-center.py-2

            //task checklist
            form.task__form.mr-3
                .task__form-block.form-check
                    input.task__checkbox(type="checkbox")

            //task title
            .task__title
                p

            //task btn bar
            .task__btn-bar.d-flex.ml-auto

                //delete task btn
                button.task__edit.btn.btn--iconed.btn-sm(type="button")
                    span.material-icons edit
                button.task__del.btn.btn--iconed.btn-sm(type="button")
                    span.material-icons close
