//- filter block part (here user can pick if checked tasks are hidden or not)
.tasks-filter.filter.dropdown(data-toggled="false" data-to-filter="#tasks-list" data-filter-criteria="complete-state")

    //filter button
    button.dropdown__btn.filter__btn.btn.btn--iconed.btn-outline-primary(type="button")
            span.material-icons filter_alt

    //filter block
    .dropdown__options.filter__options.shadow
        form.filter__options-form
            ul.filter__options-list
                li.filter__option
                    input.filter__option-input#show-all(type="radio" name="to-show-tasks" value="all")
                    label.filter__option-label(for="show-all") Show all
                li.filter__option
                    input.filter__option-input#show-only-completed(type="radio" name="to-show-tasks" value="complete")
                    label.filter__option-label(for="show-only-completed") Show only complete
                li.filter__option
                    input.filter__option-input#show-only-incompleted(type="radio" name="to-show-tasks" checked value="incomplete")
                    label.filter__option-label(for="show-only-incompleted") Show only incomplete
